@import "../colors.scss";
@import "../media_queries.scss";

.advantages {
  display: flex;
  padding-bottom: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
  @include _992() {
    padding-bottom: 25px;
  }
}

.advantage {
  width: calc(100% / 3 - 20px);
  @include _992() {
    min-width: calc(100% / 2 - 26px);
    max-width: calc(100% / 2 - 26px);
    width: calc(100% / 2 - 26px);
    margin-bottom: 18px;
  }
  @include _768() {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
  }
  border: 3px solid $dark-gray;
  border-radius: 20px;
  &__content {
    padding: 16px 14px;
    &-title {
      font-size: 24px;
      margin-bottom: 16px;
      @include _430() {
        font-size: 21px;
      }
    }
    &-description {
      margin: 6px 0;
      ul {
        padding-left: 18px;
      }
    }
    @include _768() {
      padding: 19px 17px 14px;
    }
  }
  &_dark {
    @extend .advantage;
    background-color: $lightest-gray;
    @include _992() {
      order: 1;
    }
    @include _768() {
      order: 0;
    }
  }
  &__footer {
    display: flex;
    justify-content: stretch;
    &-link {
      flex: 1;
      display: block;
      text-align: center;
      padding: 12px 10px;
      border-top: 3px solid $dark-gray;
      text-decoration: none;
      color: $light-black;
      font-weight: bold;
      border-left: 3px solid $dark-gray;
      &:hover {
        background-color: $light-gray;
      }
      &:first-child {
        border-left-width: 0;
        border-radius: 0 0 0 18px;
      }
      &:last-child {
        border-radius: 0 0 18px 0;
      }
    }
  }
}
