@import "../media_queries.scss";

.description {
  padding-bottom: 40px;
  @include _992() {
    padding-bottom: 25px;
  }
  &__slogan {
    font-size: 35px;
    text-align: center;
    width: 80%;
    margin: 40px auto 50px;
    @include _992() {
      font-size: 32px;
    }
    @include _768() {
      font-size: 30px;
      margin: 20px auto 30px;
      width: 90%;
    }
    @include _576() {
      width: 95%;
      font-size: 30px;
    }
    @include _430() {
      font-size: 26px;
    }
  }
  &__explanation {
    font-size: 22px;
    line-height: 1.4;
    @include _1200() {
      font-size: 20px;
    }
    @include _768() {
      font-size: 18px;
    }
    @include _430() {
      font-size: 17px;
    }
  }
}
