@import "../colors.scss";

.gallery {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  &__item {
    border: 3px solid $dark-gray;
    border-radius: 20px;
    &-link {
      box-sizing: border-box;
      border-bottom: 3px solid $dark-gray;
      cursor: zoom-in;
      &-image {
        border-radius: 18px 18px 0 0;
      }
    }
  }
}
