{% from "../components/list.html" import ul %}

{% macro advantage_card(title, description, footer, theme="") %}
<div class="advantage{{ theme }}">
  <div class="advantage__content">
    <div class="advantage__content-title">{{ title }}</div>
    <div class="advantage__content-description">
      {{ description }}
    </div>
  </div>
  {% if footer %}
  <div class="advantage__footer">
    {% for item in footer %}
    <a href="{{ item.link }}" class="advantage__footer-link">{{ item.text }}</a>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endmacro %}


<section class="advantages">
  {{ advantage_card(
      title="Мы не знаем ваших секретов",
      description="Все данные шифруются в вашем браузере и не никто (даже имея доступ к базе данных)
        не может прочесть ваши секреты"
    )
  }}
  
  {{ advantage_card(
      title="Бесплатно и с открытым исходным кодом",
      description="Мы рекомендуем разворачивать свою копию EncDiary на своем сервере",
      theme="_dark",
      footer=[
        {
          text: "Frontend",
          link: "#"
        },
        {
          text: "Backend",
          link: "#"
        }
      ]
    )
  }}

  {{ advantage_card(
      title="Используется стандартное шифрование",
      description=ul([
        "RSA - для авторизации пользователя",
        "AES-256-CBC - для шифрования записей"
      ])
    )
  }}

</section>
