@import "../scss/colors.scss";
@import "../scss/media_queries.scss";

.hero {
  padding: 150px 0;
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  @include _992() {
    width: 95%;
    padding: 100px 0;
  }
  @include _768() {
    display: block;
    padding: 50px 0;
  }
  @include _576() {
    padding: 25px 0 50px;
  }
  @include _430() {
    padding: 20px 0 40px;
  }
  &__content {
    width: 440px;
    @include _768() {
      text-align: center;
      width: 100%;
    }
  }
  &__preview {
    line-height: 0;
    svg {
      height: 320px;
      @include _992 {
        height: 280px;
      }
      @include _768 {
        height: 250px;
        display: block;
        margin: 0 auto;
      }
      @include _430 {
        height: 220px;
      }
    }
  }
  &__title {
    font-size: 50px;
    margin-top: 20px;
    @include _576() {
      padding-left: 15px;
      padding-right: 15px;
    }
    @include _430() {
      font-size: 40px;
    }
    &-version {
      vertical-align: middle;
      font-size: 20px;
      background-color: $light-gray;
      padding: 7px 10px;
      margin: 0 7px;
      border-radius: 10px;
      border: 2px solid $dark-gray;
      @include _430() {
        font-size: 16px;
        padding: 5px 7px;
      }
    }
  }
  &__description {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 auto 25px;
    @include _992() {
      font-size: 25px;
      margin-bottom: 20px;
    }
    @include _768() {
      font-size: 23px;
      width: 90%;
    }
    @include _430() {
      font-size: 21px;
      width: 100%;
    }
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    @include _768() {
      margin-bottom: 20px;
      justify-content: center;
    }
  }
}
