@import "../scss/colors.scss";
@import "../scss/media_queries.scss";

.requests {
  margin-bottom: 90px;
  @include _992 {
    margin-bottom: 70px;
  }
  @include _576 {
    margin-bottom: 55px;
  }
}

.requests-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  &__item {
    width: calc(100% / 3 - 20px);
    border: 3px solid $dark-gray;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    @include _992() {
      min-width: calc(100% / 2 - 26px);
      max-width: calc(100% / 2 - 26px);
      width: calc(100% / 2 - 26px);
      margin-bottom: 20px;
    }
    @include _768() {
      max-width: 450px;
      width: 100%;
      margin-bottom: 22px;
    }
    @include _430() {
      margin-bottom: 18px;
    }
    &-link {
      border-bottom: 3px solid $dark-gray;
      overflow: hidden;
      cursor: zoom-in;
      &-image {
        transition: 1.5s;
        display: block;
        &:hover {
          transform: scale(1.2);
          filter: brightness(70%);
        }
      }
    }
    li {
      margin-bottom: 8px;
    }
  }
}
