@import "./colors.scss";
@import "./media_queries.scss";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: normal;
  src: url(fonts/Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(fonts/Roboto-BoldItalic.ttf) format("truetype");
}

body {
  font-family: "Roboto", sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}





.container {
  width: 1200px;
  padding: 0 60px;
  margin: 0 auto;
  box-sizing: border-box;
  @include _1200() {
    width: 992px;
    padding: 0 30px;
  }
  @include _992() {
    width: 768px;
    padding: 0 24px;
  }
  @include _768() {
    width: 576px;
    padding: 0 21px;
  }
  @include _576() {
    width: 100%;
  }
  @include _430() {
    padding: 0 18px;
  }
}

img {
  width: 100%;
}

h2 {
  font-size: 42px;
  font-weight: 400;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  @include _768() {
    font-size: 38px;
    margin: 36px auto;
  }
  @include _576() {
    width: 90%;
    font-size: 34px;
  }
  @include _430() {
    font-size: 30px;
    margin: 30px auto;
  }
}